/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */



/* making space around the outer most perameter of the page */
body {
	margin: 5%;
  }

  /* adding navigation bar horizontally across top, spacing buttons out, and removing underlines */
  .greatIdea nav {
	display: flex;
	/* margin: 20px; */
	justify-content: space-evenly;
	text-decoration: none;
  }
  

  nav a {
	background-color: rgb(170, 192, 170); 
	border-radius: 2px; 
	padding: 4px;
	margin: 20px;
	color: gray;
	text-decoration: none;
  }

  /* adding logo image to right of nav */
  .greatIdea {
	  display: flex;
	  justify-content: space-around;
	  align-items: center;
  }
  
  /* call to action section at top of page with img and get started button */
  .top {
	margin-top: 3%;
  }
  
  h2 {
	margin-top: 10px;  
  }
  
  .main {
	display: flex;
  }

  .innovation {	
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-top: 10%;
	align-items: center;
  }

  .innovation h1 {
	  font-size: 75px;
	  text-align: center;
  }

  button {
	border-radius: 3px;
	padding: 6px 15px;
	width: 35%;
	align-items: center;
	font-size: 17px;
  }
  
  /* circular code image at top of page */
  .snippet {
	margin-left: 5%;
  }
  
  /* all grammerical paragraphs on page */
  .paragraphs {
	width: 45%;
	margin: 2%;
  }
  
  /* paragraph sections above middle image */
  .topText {
	height: 150px;
	margin-top: 5%;
	border-top: 1px solid black;
	display: flex;
  } 
  
  .topText .paragraphs {
	margin: 1%;
  }
  
  /* rectangular image in the middle of page */
  .middle-img {
	margin-bottom: 2%;
  }
  
  /* paragraph sections below middle image */
  .bottomText {
	display: flex;
	padding: 2%;
	margin-bottom: 3%;
	border-bottom: 1px solid black;
  }

  footer {
	  text-align: center;
  }

  /* Services Page Styling */


  /* nav and image at bottom of page */
  .bottomInfo {
	  display: flex;

  }
  
  /* nav bar at bottom of page */
  .list {
	  background-color: peach;
  }

